<%- include('header') -%>
<%- include('navbar') -%>

    <div class="container mt-3">
      <h1><%= osszetevo.nev %></h1>
      <textarea readonly class="col-lg-5 col-md-8 fixed-size" rows="8"><%= osszetevo.leiras %></textarea>
      <img class="align-top" src="https://via.placeholder.com/200" alt="">
      <label class="d-block">Ajánlott adag: </label>
      <label class="d-block"><%= osszetevo.ajanlottAdag %></label>
   
      <% if(belepve === true) {%>
      <a class="btn btn-outline-primary" href="/osszetevo/edit/<%= osszetevo._id %>" role="button">Módosítás</a>
      <% } %>
    </div>
<%- include('footer') -%>