<%- include('header') -%>
<%- include('navbar') -%>

    <div class="container mt-3">
      <h1 class="d-inline">Összetevők</h1>
      <% if(belepve === true) { %>
        <a class="btn btn-outline-primary float-lg-end" href="/osszetevo/new" role="button">Új felvétele</a>
      <% } %>

      <% for (key in osszetevok) {const osszetevo = osszetevok[key]; %>
        <div class="m-2 col-6">
          <div class="d-inline-block align-top">
            <img class="align-top list-image" src="<%= osszetevo.kep %>" alt="">
          </div>
          <div class="d-inline-block col-5" style="width: 60%;">
            <a href="/osszetevo/detailed/<%= osszetevo._id%>" class="align-top link-secondary no-underline"><%= osszetevo.nev%></a>
            <textarea readonly class="textarea-list d-block" rows="5"><%= osszetevo.leiras %></textarea>
          </div>
        </div>
      <% } %>
    </div>
<%- include('footer') -%>