<%- include('header') -%>
<%- include('navbar') -%>
    <div class="container mt-3">
      <form method="post" enctype="multipart/form-data">
        <div class="col-lg-6">
            <label for="nev" class="form-label">Táplálékkiegészítő neve: </label>
            <input class="" type="text" name="nev" id="nev" value="<%= (typeof tapkieg === 'undefined') ? '' : tapkieg.nev%>">
        </div>
        <div class="col-lg-5 col-md-8 d-inline">
            <label for="leiras" class="form-label d-block">Leírás: </label>
            <textarea class="col-lg-5 col-md-8" id="leiras" name="leiras" rows="8"><%= (typeof tapkieg === 'undefined') ? '' : tapkieg.leiras%></textarea>
        </div>
    
        <label class="d-block" for="ajanlottAdag">Ajánlott adag: </label>
        <input type="text" class="d-block" name="ajanlottAdag" value="<%= (typeof tapkieg === 'undefined') ? '' : tapkieg.ajanlottAdag%>">
        <div class="col-lg-5">
            <label for="kep" class="form-label">Kép:</label>
            <input class="form-control" type="file" name="kep" id="kep">
        </div>

        <div class="mt-3">
            <label for="osszetevok" class="align-top">Összetevő(k) kiválasztása:</label>
             <select name="osszetevok" id="osszetevok" multiple='multiple'>
              <% for(key in osszetevok) { const osszetevo = osszetevok[key]%>
                  <option <%= %> value="<%=osszetevo._id%>"><%= osszetevo.nev %></option>
              <% } %>
             </select>
        </div>

        <button type="submit" class="btn btn-outline-primary" role="button">Mentés</button>
    </form>
    </div>
<%- include('footer') -%>
