<%- include('header') -%>
  <%- include('navbar') -%>
    <div class="container mt-3">
        <h1><%= tapkieg.nev %></h1>

        <textarea readonly class="col-lg-5 col-md-8 fixed-size" rows="8"><%= tapkieg.leiras%></textarea>
        <img class="align-top detailed-image" src="<%= (typeof tapkieg.kep === 'undefined') ? 'https://via.placeholder.com/200' : tapkieg.kep%>" alt="">
        <label class="d-block">Ajánlott adag: </label>
        <label class="d-block"><%= tapkieg.ajanlottAdag %> </label>

        <label class="d-block">Összetevők: </label>
        <ul>
          <% for (key in tapkieg._osszetevok) {const osszetevo=tapkieg._osszetevok[key]; %>
            <li>
              <a href="/osszetevo/detailed/<%= osszetevo._id %>">
                <%= osszetevo.nev%>
              </a>
            </li>
          <% } %>
        </ul>
        <% if(belepve===true) {%>
          <a class="btn btn-outline-primary" href="/tapkieg/edit/<%= tapkieg._id %>" role="button">Módosítás</a>
          <a class="btn btn-outline-danger" href="/tapkieg/del/<%= tapkieg._id %>" role="button">Törlés</a>
        <% } %>
    </div>
    <%- include('footer') -%>